@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>@Model.Content.GetPropertyValue("pageTitle")</h1>
        <p>@Model.Content.GetPropertyValue("bodyText")</p>
      </div>
</div>